.about_header {
    text-align: center;
    
  }
  
  .about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
  }
  
  .about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
      45deg, 
      transparent,
      #242424,
      );
      display: grid;
      place-items: center;
      position: relative; top: 30px;
      
  }
  
  .about_me-image {
    border-radius: 2rem;
    overflow: hidden;
  }
  
  .about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .about_card {
    background: #808080;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    position: relative; top: 80px;
    position: relative; right: 50px;
  }
  
  .about_card:hover {
    background: transparent;
    border-color: #dcdcdc;
    cursor: default;
  }
  
  .about_icon {
    color: #242424;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .about_card h5 {
    font-size: 0.95rem;
  }
  
  .about_card small {
    font-size: 0.7rem;
    color: #a9a9a9;
  }
  
  .about_content p {
    margin: 2rem 0 2.6rem;
    position: relative; top: 80px;
    position: relative; right: 50px;
  }
  
/* tablet/phone size shrink compatability */

@media screen and (max-width: 1024px) {
  .about_container {

    grid-template-columns: 1fr;
    gap: 0;
  }
  
  .about_me {

    width: 50%;
    margin: 2rem auto 4rem;

  }

  .about_content p {
    margin: 1rem 0 1.5rem
  }
}  

@media screen and (max-width: 60px) {
  .about_me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about_card {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about_content {
    text-align: center;
  }

  .about_card p {
    margin: 1.5rem 0;
  }
  
}
  
